version: "3.9"

services:
  backend:
    build:
      context: .
      dockerfile: backend/Dockerfile
    environment:
      SECRET_KEY: "unaClaveSegura123"
      DATABASE_URL: "sqlite:///./app.db"
      APP_ENV: "production"
      APP_DEBUG: "0"
    volumes:
      - ./backend/app.db:/app/app.db
    ports:
      - "8000:8000"
    networks:
      - app-network

  frontend:
    build:
      context: .
      dockerfile: frontend/Dockerfile
    environment:
      VITE_API_URL: "http://localhost:8000"
    depends_on:
      - backend
    ports:
      - "5173:5173"
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
